<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WeatherApi:BaseUrl" value="http://api.weatherapi.com/v1/" />
    <add key="WeatherApi:ApiKey" value="" />
    <add key="WeatherApi:Latitude" value="55.7558" />
    <add key="WeatherApi:Longitude" value="37.6176" />
  </appSettings>
</configuration>
